.search {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 144px 70px 0;
}

.search::after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    height: 10px;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(170, 170, 170, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
}

.search__input {
    margin: 0;
    padding: 0 15px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111% ;
    color:#FFF;
    background-color: transparent;
    width: calc(100% - 150px);
    height: 100%;
    outline: none;
}

.search__input:focus {
    border-bottom: 1px solid #4285F4;
}

.search__input::placeholder {
    color: #A0A0A0;
}

.search__button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: #4285F4;
    color: #FFF;
    height: 52px;
    width: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    cursor: pointer;
}

.search__button:hover {
    opacity: 0.8;
}
.search__error {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #EE3465;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
}

.search__error_active {
    visibility: visible;
}

@media screen and (max-width: 896px) {
    .search {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 564px) {
    .search {
        padding-left: 14px;
        padding-right: 14px;
    }

    .search__form {
        height: 56px;
        padding: 5px;
    }

    .search__input {
        padding: 0 6px;
        font-size: 16px;
        line-height: 100%;
        width: calc(100% - 120px);
    }

    .search__button {
        height: 44px;
        width: 80px;
    }
}